.sections-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-nav ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 25px;
  font-family: $sans-serif;
}

.sections-nav ul li:last-of-type {
    text-decoration: underline;
    margin-right: 0 ;
}
.sections-nav a:hover {
  background-color: $light-gray;
}
.sections-nav {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
}